header {
  display: flex;
  flex-direction: row;
  height: 64px;
  justify-content: space-between;
  align-items: center;
  background: #eb524c;
  color: white;
  padding: 0 40px;
}

header img {
  width: 120px;
  height: 24px;
}

header span {
  display: flex;
  align-items: center;
}

header span img {
  width: 24px;
  height: 24px;
  padding-left: 10px;
}
